{% extends 'base.html.twig' %}

{% block title %}Partnership index{% endblock %}

{% block body %}
    <h1>Partnership index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Texte</th>
                <th>Lien</th>
                <th>Images</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for partnership in partnerships %}
            <tr>
                <td>{{ partnership.id }}</td>
                <td>{{ partnership.name }}</td>
                <td>{{ partnership.text }}</td>
                <td>{{ partnership.linkToWebsite }}</td>
                <td>{{partnership.Images}}</td>
                <td>
                    <a href="{{ path('app_partnership_edit', {'id': partnership.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de partenaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partnership_new') }}">Ajouter</a>
{% endblock %}
