{% extends 'base.html.twig' %}

{% block title %}Partnership index{% endblock %}

{% block body %}
    <div class="my-24 mx-52 border ml p-10 rounded-lg shadow-lg">  
    <a class=" bg-blueHome text-white p-2 rounded-lg border border-slate-300 hover:border-slate-400  max-w-min" href="{{ path('app_partnership_new') }}">Ajouter</a>
    <h1 class="font-bold mt-2 text-center mb-6"> Administration Partenaires </h1> 
        <table>
            <thead>
                <tr class="border">
                    <th class="border p-2">Nom</th>
                    <th class="border p-2">Texte</th>
                    <th class="border p-2">Lien</th>
                    <th class="border p-2">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for partnership in partnerships %}
                <tr>
                    <td class="border p-2">{{ partnership.name }}</td>
                    <td class="border p-2">{{ partnership.text }}</td>
                    <td class="border p-2">{{ partnership.linkToWebsite }}</td>
                    <td class="border p-3">
                        <a class="bg-blue-900 text-white p-2 rounded-xl hover:bg-blue-600"href="{{ path('app_partnership_edit', {'id': partnership.id}) }}">Afficher</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de partenaire </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


