{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="my-24 border mx-96 p-10 rounded-lg shadow-lg">
        <h1 class="font-bold mt-2 text-center"> Administration Comptes Administrateurs </h1> 
        {% for message in app.flashes('error') %}
            <div class="text-red-600">
                {{ message }}
            </div>
        {% endfor %} 
        {{ form_start(form) }}
            <div class="mt-6">
                {{ form_label(form.username) }}
                {{ form_widget(form.username , {'attr':{'class': 'rounded-lg border p-1.5 w-full '}}) }}
                {{ form_errors(form.username) }}
            </div>

            <div class="mt-6">
                {{ form_label(form.password) }}
                {{ form_widget(form.password , {'attr':{'class': 'rounded-lg border p-1.5 w-full '}}) }}
                {{ form_errors(form.password) }}
            </div>

            <div class="buttons flex mt-8 mb-8 justify-between">   
                <a class="bg-gray-500 text-white p-3 rounded-lg hover:cursor-pointer hover:bg-gray-300" href="{{ path('app_admin_index') }}">Annuler</a>
                {{ form_widget(form.submit) }}
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
