{% extends 'base.html.twig' %}

{% block body %}
<div class="flex justify-center my-24 border mx-96 p-10 rounded-lg shadow-lg">
    {{ form_start(form) }}
    <h1 class="flex justify-center text-3xl pb-10 font-bold">NOUS CONTACTER</h1>
    <div class="flex justify-between gap-4">
        {{ form_row(form.name , {'attr':{'class': 'rounded-lg border p-1.5 w-full'}}) }}
        {{ form_row(form.firstname , {'attr':{'class': 'rounded-lg border p-1.5 w-full'}}) }}
    </div>
    <div class="mt-4">
        {{ form_row(form.email , {'attr':{'class': 'rounded-lg border p-1.5 w-full inline-flex mb-4'}}) }}
        {{ form_row(form.message , {'attr':{'class': 'rounded-lg border p-1.5 w-full'}}) }}
    </div>
    <div class="flex justify-center">
        <button class="px-5 py-3 bg-blueHome text-white rounded-lg border border-slate-300 hover:border-slate-400 mt-3" type="submit">Envoyer</button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}